In [1]:
from pandas import read_csv
from pandas import DataFrame
from datetime import datetime
from matplotlib import pyplot
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_squared_error
from pandas import concat
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from numpy import concatenate
from math import sqrt

C:\Anaconda\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [2]:
def parse(x):
    return datetime.strptime(x, '%Y %m %d %H')

dataset = read_csv('model_data.csv', 
                   parse_dates = [['year', 'month', 'day', 'hour']],
                  index_col = 0, date_parser = parse)

In [3]:
dataset.head(60)

                     DALMP          LOAD     WIND  OUTAGES
year_month_day_hour
2014-01-01 01:00:00  28.17  35886.713705  7461.49     8492
2014-01-01 02:00:00  25.07  35587.349910  7281.48     8496
2014-01-01 03:00:00  24.93  35332.870128  7130.77     8496
2014-01-01 04:00:00  24.92  35211.064380  7336.28     8496
2014-01-01 05:00:00  25.07  35490.158245  7333.28     8496
2014-01-01 06:00:00  27.23  36203.492735  7407.28     8496
2014-01-01 07:00:00  36.17  37084.806113  7376.86     8496
2014-01-01 08:00:00  38.19  37397.188208  7262.05     8496
2014-01-01 09:00:00  40.14  37119.474985  7160.14     8496
2014-01-01 10:00:00  34.74  36634.264305  6877.33     8496
2014-01-01 11:00:00  30.22  35841.262763  5739.79     7676
2014-01-01 12:00:00  27.14  34777.546965  4836.64     7676
2014-01-01 13:00:00  25.06  33656.195898  4684.72     7676
2014-01-01 14:00:00  25.06  32430.090413  5085.14     7676
2014-01-01 15:00:00  24.92  31407.082680  4684.72     7707
2014-01-01 16:00:00  24.92  30821.879918  4259.16     7707
2014-01-01 17:00:00  25.00  30773.716393  3680.78     7707
2014-01-01 18:00:00  36.14  32201.348998  3094.21     7546
2014-01-01 19:00:00  37.00  34575.778988  3115.45     7546
2014-01-01 20:00:00  31.26  34695.479225  5626.10     7511
2014-01-01 21:00:00  28.90  34342.060205  7312.46     7511
2014-01-01 22:00:00  27.25  33864.171640  7272.19     7511
2014-01-01 23:00:00  25.07  33050.660433  7350.73     8114
2014-01-02 00:00:00  23.11  31931.087945  7506.69     8083
2014-01-02 01:00:00  24.50  31244.362015  7541.20     9288
2014-01-02 02:00:00  23.50  31172.024978  7246.84     9319
2014-01-02 03:00:00  23.50  31629.997463  7027.72     9499
2014-01-02 04:00:00  24.50  32667.439115  6580.31     9499
2014-01-02 05:00:00  25.88  34419.166730  6545.57     9499
2014-01-02 06:00:00  32.28  37492.230123  6194.05     9499
2014-01-02 07:00:00  44.46  41406.091460  6049.86     9499
2014-01-02 08:00:00  46.50  44190.026320  6160.98     9499
2014-01-02 09:00:00  40.00  44943.881590  5397.54     9499
2014-01-02 10:00:00  35.20  45101.613285  4487.49     9319
2014-01-02 11:00:00  31.54  44579.795180  4173.08     9319
2014-01-02 12:00:00  28.92  43404.913398  3369.06     9319
2014-01-02 13:00:00  27.78  41887.677708  2303.77     9319
2014-01-02 14:00:00  27.56  40385.819580  1821.11     9319
2014-01-02 15:00:00  27.48  39045.659643  1507.05     9319
2014-01-02 16:00:00  26.08  38352.494443  1331.66     9319
2014-01-02 17:00:00  26.00  38442.948495  1165.61     9749
2014-01-02 18:00:00  34.29  40529.794290   895.44     9299
2014-01-02 19:00:00  44.57  44327.205368   687.09     9318
2014-01-02 20:00:00  43.02  45266.509765   783.16     9318
2014-01-02 21:00:00  40.81  45578.088863  1227.76     9318
2014-01-02 22:00:00  35.35  45054.334275  1874.85     8773
2014-01-02 23:00:00  32.13  43682.913948  2699.08     8773
2014-01-03 00:00:00  28.15  42121.357425  3692.90     8343
2014-01-03 01:00:00  29.75  41099.063403  4909.61     8423
2014-01-03 02:00:00  28.14  40705.406000  6241.08     8853
2014-01-03 03:00:00  28.26  40800.445615  6800.98     8853
2014-01-03 04:00:00  28.42  41374.446123  6977.47     8853
2014-01-03 05:00:00  30.78  42581.206030  7174.86     8853
2014-01-03 06:00:00  40.00  44973.598528  7575.89     8853
2014-01-03 07:00:00  76.75  47996.044103  8078.87     8853
2014-01-03 08:00:00  57.86  49845.566143  8290.62     8853
2014-01-03 09:00:00  45.31  49176.662388  8368.87     8853
2014-01-03 10:00:00  35.44  47204.546103  8039.11     8853
2014-01-03 11:00:00  32.25  45192.517570  7404.90     9311
2014-01-03 12:00:00  30.00  42845.930453  7730.83     9311

In [9]:
data, names, targets = list(), list(), list()

target = 'DALMP'

for col in dataset.columns:
    temp = dataset[col]
    for i in range(50, 0, -1):
        data.append(temp.shift(i))
        names += [col + '(t-%d)' %(i)]
    if col is target:
        targets = temp
agg = concat(data, axis = 1)
agg.dropna(inplace=True)
agg.columns = names

In [10]:
agg.head(20)

,DALMP(t-50),DALMP(t-49),DALMP(t-48),DALMP(t-47),DALMP(t-46),DALMP(t-45),DALMP(t-44),DALMP(t-43),DALMP(t-42),DALMP(t-41),...,OUTAGES(t-10),OUTAGES(t-9),OUTAGES(t-8),OUTAGES(t-7),OUTAGES(t-6),OUTAGES(t-5),OUTAGES(t-4),OUTAGES(t-3),OUTAGES(t-2),OUTAGES(t-1)
year_month_day_hour,,,,,,,,,,,,,,,,,,,,,
2014-01-03 03:00:00,28.17,25.07,24.93,24.92,25.07,27.23,36.17,38.19,40.14,34.74,...,9749.0,9299.0,9318.0,9318.0,9318.0,8773.0,8773.0,8343.0,8423.0,8853.0
2014-01-03 04:00:00,25.07,24.93,24.92,25.07,27.23,36.17,38.19,40.14,34.74,30.22,...,9299.0,9318.0,9318.0,9318.0,8773.0,8773.0,8343.0,8423.0,8853.0,8853.0
2014-01-03 05:00:00,24.93,24.92,25.07,27.23,36.17,38.19,40.14,34.74,30.22,27.14,...,9318.0,9318.0,9318.0,8773.0,8773.0,8343.0,8423.0,8853.0,8853.0,8853.0
2014-01-03 06:00:00,24.92,25.07,27.23,36.17,38.19,40.14,34.74,30.22,27.14,25.06,...,9318.0,9318.0,8773.0,8773.0,8343.0,8423.0,8853.0,8853.0,8853.0,8853.0
2014-01-03 07:00:00,25.07,27.23,36.17,38.19,40.14,34.74,30.22,27.14,25.06,25.06,...,9318.0,8773.0,8773.0,8343.0,8423.0,8853.0,8853.0,8853.0,8853.0,8853.0
2014-01-03 08:00:00,27.23,36.17,38.19,40.14,34.74,30.22,27.14,25.06,25.06,24.92,...,8773.0,8773.0,8343.0,8423.0,8853.0,8853.0,8853.0,8853.0,8853.0,8853.0
2014-01-03 09:00:00,36.17,38.19,40.14,34.74,30.22,27.14,25.06,25.06,24.92,24.92,...,8773.0,8343.0,8423.0,8853.0,8853.0,8853.0,8853.0,8853.0,8853.0,8853.0
2014-01-03 10:00:00,38.19,40.14,34.74,30.22,27.14,25.06,25.06,24.92,24.92,25.00,...,8343.0,8423.0,8853.0,8853.0,8853.0,8853.0,8853.0,8853.0,8853.0,8853.0
2014-01-03 11:00:00,40.14,34.74,30.22,27.14,25.06,25.06,24.92,24.92,25.00,36.14,...,8423.0,8853.0,8853.0,8853.0,8853.0,8853.0,8853.0,8853.0,8853.0,8853.0
2014-01-03 12:00:00,34.74,30.22,27.14,25.06,25.06,24.92,24.92,25.00,36.14,37.00,...,8853.0,8853.0,8853.0,8853.0,8853.0,8853.0,8853.0,8853.0,8853.0,9311.0
2014-01-03 13:00:00,30.22,27.14,25.06,25.06,24.92,24.92,25.00,36.14,37.00,31.26,...,8853.0,8853.0,8853.0,8853.0,8853.0,8853.0,8853.0,8853.0,9311.0,9311.0
2014-01-03 14:00:00,27.14,25.06,25.06,24.92,24.92,25.00,36.14,37.00,31.26,28.90,...,8853.0,8853.0,8853.0,8853.0,8853.0,8853.0,8853.0,9311.0,9311.0,9311.0
2014-01-03 15:00:00,25.06,25.06,24.92,24.92,25.00,36.14,37.00,31.26,28.90,27.25,...,8853.0,8853.0,8853.0,8853.0,8853.0,8853.0,9311.0,9311.0,9311.0,9311.0
2014-01-03 16:00:00,25.06,24.92,24.92,25.00,36.14,37.00,31.26,28.90,27.25,25.07,...,8853.0,8853.0,8853.0,8853.0,8853.0,9311.0,9311.0,9311.0,9311.0,9311.0
2014-01-03 17:00:00,24.92,24.92,25.00,36.14,37.00,31.26,28.90,27.25,25.07,23.11,...,8853.0,8853.0,8853.0,8853.0,9311.0,9311.0,9311.0,9311.0,9311.0,9219.0
2014-01-03 18:00:00,24.92,25.00,36.14,37.00,31.26,28.90,27.25,25.07,23.11,24.50,...,8853.0,8853.0,8853.0,9311.0,9311.0,9311.0,9311.0,9311.0,9219.0,9516.0
2014-01-03 19:00:00,25.00,36.14,37.00,31.26,28.90,27.25,25.07,23.11,24.50,23.50,...,8853.0,8853.0,9311.0,9311.0,9311.0,9311.0,9311.0,9219.0,9516.0,9516.0
2014-01-03 20:00:00,36.14,37.00,31.26,28.90,27.25,25.07,23.11,24.50,23.50,23.50,...,8853.0,9311.0,9311.0,9311.0,9311.0,9311.0,9219.0,9516.0,9516.0,9516.0
2014-01-03 21:00:00,37.00,31.26,28.90,27.25,25.07,23.11,24.50,23.50,23.50,24.50,...,9311.0,9311.0,9311.0,9311.0,9311.0,9219.0,9516.0,9516.0,9516.0,9516.0
2014-01-03 22:00:00,31.26,28.90,27.25,25.07,23.11,24.50,23.50,23.50,24.50,25.88,...,9311.0,9311.0,9311.0,9311.0,9219.0,9516.0,9516.0,9516.0,9516.0,9516.0

In [11]:
targets = dataset['DALMP'][agg.index]

In [12]:
agg['targets'] = targets

In [13]:
reframed = agg
reframed.head()

,DALMP(t-50),DALMP(t-49),DALMP(t-48),DALMP(t-47),DALMP(t-46),DALMP(t-45),DALMP(t-44),DALMP(t-43),DALMP(t-42),DALMP(t-41),...,OUTAGES(t-9),OUTAGES(t-8),OUTAGES(t-7),OUTAGES(t-6),OUTAGES(t-5),OUTAGES(t-4),OUTAGES(t-3),OUTAGES(t-2),OUTAGES(t-1),targets
year_month_day_hour,,,,,,,,,,,,,,,,,,,,,
2014-01-03 03:00:00,28.17,25.07,24.93,24.92,25.07,27.23,36.17,38.19,40.14,34.74,...,9299.0,9318.0,9318.0,9318.0,8773.0,8773.0,8343.0,8423.0,8853.0,28.26
2014-01-03 04:00:00,25.07,24.93,24.92,25.07,27.23,36.17,38.19,40.14,34.74,30.22,...,9318.0,9318.0,9318.0,8773.0,8773.0,8343.0,8423.0,8853.0,8853.0,28.42
2014-01-03 05:00:00,24.93,24.92,25.07,27.23,36.17,38.19,40.14,34.74,30.22,27.14,...,9318.0,9318.0,8773.0,8773.0,8343.0,8423.0,8853.0,8853.0,8853.0,30.78
2014-01-03 06:00:00,24.92,25.07,27.23,36.17,38.19,40.14,34.74,30.22,27.14,25.06,...,9318.0,8773.0,8773.0,8343.0,8423.0,8853.0,8853.0,8853.0,8853.0,40.00
2014-01-03 07:00:00,25.07,27.23,36.17,38.19,40.14,34.74,30.22,27.14,25.06,25.06,...,8773.0,8773.0,8343.0,8423.0,8853.0,8853.0,8853.0,8853.0,8853.0,76.75

In [11]:
scaler = MinMaxScaler(feature_range=(0,1))
scaled = scaler.fit_transform(reframed.values)
scaled = DataFrame(scaled)
scaled.columns = reframed.columns
print(reframed.shape)

(40649, 201)

In [14]:
inv_reframed = scaler.inverse_transform(scaled)
inv_reframed

array([[  28.17,   25.07,   24.93, ..., 8423.  , 8853.  ,   28.26],
       [  25.07,   24.93,   24.92, ..., 8853.  , 8853.  ,   28.42],
       [  24.93,   24.92,   25.07, ..., 8853.  , 8853.  ,   30.78],
       ...,
       [  20.  ,   20.03,   23.  , ..., 4010.  , 3601.  ,   19.39],
       [  20.03,   23.  ,   24.55, ..., 3601.  , 3601.  ,   20.64],
       [  23.  ,   24.55,   26.78, ..., 3601.  , 3666.  ,   23.84]])

In [15]:
scaled_targets = scaled['targets']
scaled = scaled.drop(['targets'], axis = 1)
scaled.head()

,DALMP(t-50),DALMP(t-49),DALMP(t-48),DALMP(t-47),DALMP(t-46),DALMP(t-45),DALMP(t-44),DALMP(t-43),DALMP(t-42),DALMP(t-41),...,OUTAGES(t-10),OUTAGES(t-9),OUTAGES(t-8),OUTAGES(t-7),OUTAGES(t-6),OUTAGES(t-5),OUTAGES(t-4),OUTAGES(t-3),OUTAGES(t-2),OUTAGES(t-1)
0,0.012038,0.010649,0.010586,0.010582,0.010649,0.011617,0.015622,0.016527,0.017401,0.014981,...,0.293979,0.278390,0.279048,0.279048,0.279048,0.260168,0.260168,0.245271,0.248043,0.262939
1,0.010649,0.010586,0.010582,0.010649,0.011617,0.015622,0.016527,0.017401,0.014981,0.012956,...,0.278390,0.279048,0.279048,0.279048,0.260168,0.260168,0.245271,0.248043,0.262939,0.262939
2,0.010586,0.010582,0.010649,0.011617,0.015622,0.016527,0.017401,0.014981,0.012956,0.011576,...,0.279048,0.279048,0.279048,0.260168,0.260168,0.245271,0.248043,0.262939,0.262939,0.262939
3,0.010582,0.010649,0.011617,0.015622,0.016527,0.017401,0.014981,0.012956,0.011576,0.010645,...,0.279048,0.279048,0.260168,0.260168,0.245271,0.248043,0.262939,0.262939,0.262939,0.262939
4,0.010649,0.011617,0.015622,0.016527,0.017401,0.014981,0.012956,0.011576,0.010645,0.010645,...,0.279048,0.260168,0.260168,0.245271,0.248043,0.262939,0.262939,0.262939,0.262939,0.262939

In [16]:
values = scaled.values
values.shape

(40649, 200)

In [18]:
values = values.reshape((40649, 50, 4))
print(values.shape)
values

(40649, 50, 4)

array([[[0.01203794, 0.01064912, 0.0105864 , 0.01058192],
        [0.01064912, 0.01161681, 0.01562199, 0.01652696],
        [0.01740058, 0.01498134, 0.01295635, 0.01157649],
        ...,
        [0.27908266, 0.27908266, 0.29397908, 0.2783898 ],
        [0.27904801, 0.27904801, 0.27904801, 0.26016767],
        [0.26016767, 0.24527125, 0.24804268, 0.2629391 ]],

       [[0.01064912, 0.0105864 , 0.01058192, 0.01064912],
        [0.01161681, 0.01562199, 0.01652696, 0.01740058],
        [0.01498134, 0.01295635, 0.01157649, 0.01064464],
        ...,
        [0.27908266, 0.29397908, 0.2783898 , 0.27904801],
        [0.27904801, 0.27904801, 0.26016767, 0.26016767],
        [0.24527125, 0.24804268, 0.2629391 , 0.2629391 ]],

       [[0.0105864 , 0.01058192, 0.01064912, 0.01161681],
        [0.01562199, 0.01652696, 0.01740058, 0.01498134],
        [0.01295635, 0.01157649, 0.01064464, 0.01064464],
        ...,
        [0.29397908, 0.2783898 , 0.27904801, 0.27904801],
        [0.27904801, 0.26016767, 0.26016767, 0.24527125],
        [0.24804268, 0.2629391 , 0.2629391 , 0.2629391 ]],

       ...,

       [[0.00837772, 0.00839116, 0.00972174, 0.01041615],
        [0.01141521, 0.0137538 , 0.01668825, 0.02246753],
        [0.03228336, 0.04383745, 0.04825031, 0.02765993],
        ...,
        [0.06744959, 0.08674565, 0.07025566, 0.07607566],
        [0.11144599, 0.11736992, 0.11736992, 0.11736992],
        [0.11736992, 0.10330493, 0.09516386, 0.08099494]],

       [[0.00839116, 0.00972174, 0.01041615, 0.01141521],
        [0.0137538 , 0.01668825, 0.02246753, 0.03228336],
        [0.04383745, 0.04825031, 0.02765993, 0.01698393],
        ...,
        [0.08674565, 0.07025566, 0.07607566, 0.11144599],
        [0.11736992, 0.11736992, 0.11736992, 0.11736992],
        [0.10330493, 0.09516386, 0.08099494, 0.08099494]],

       [[0.00972174, 0.01041615, 0.01141521, 0.0137538 ],
        [0.01668825, 0.02246753, 0.03228336, 0.04383745],
        [0.04825031, 0.02765993, 0.01698393, 0.01421973],
        ...,
        [0.07025566, 0.07607566, 0.11144599, 0.11736992],
        [0.11736992, 0.11736992, 0.11736992, 0.10330493],
        [0.09516386, 0.08099494, 0.08099494, 0.08324673]]])

In [20]:
n_train_hours = 365*24*4
train_X = values[:n_train_hours, :, :]
test_X = values[n_train_hours:, :, ]
train_y = scaled_targets.values[:n_train_hours]
test_y = scaled_targets.values[n_train_hours:]

In [21]:
print("Training features:", train_X.shape)
print("Training targets:", train_y.shape)

print("Testing features:", test_X.shape)
print("Testing targets:", test_y.shape)

Training features: (35040, 50, 4)
Training targets: (35040,)
Testing features: (5609, 50, 4)
Testing targets: (5609,)

In [29]:
model = Sequential()
model.add(LSTM(100, input_shape = (50, 4), return_sequences = True))
model.add(LSTM(100, return_sequences = True))
model.add(LSTM(100))
model.add(Dense(1))
model.compile(loss = "mae", optimizer = 'adam', metrics = ['mse'])

history = model.fit(train_X, train_y, epochs = 10, batch_size = 256,
                   validation_data = (test_X, test_y),
                   shuffle = False)
pyplot.plot(history.history['loss'], label='train')
pyplot.plot(history.history['val_loss'], label='test')
pyplot.legend()
pyplot.show()

Train on 35040 samples, validate on 5609 samples
Epoch 1/10
35040/35040 [==============================] - 154s 4ms/step - loss: 0.0085 - mean_squared_error: 3.3059e-04 - val_loss: 0.0145 - val_mean_squared_error: 0.0019
Epoch 2/10
35040/35040 [==============================] - 168s 5ms/step - loss: 0.0076 - mean_squared_error: 1.9416e-04 - val_loss: 0.0111 - val_mean_squared_error: 0.0019
Epoch 3/10
35040/35040 [==============================] - 168s 5ms/step - loss: 0.0047 - mean_squared_error: 1.6237e-04 - val_loss: 0.0076 - val_mean_squared_error: 0.0018
Epoch 4/10
35040/35040 [==============================] - 167s 5ms/step - loss: 0.0044 - mean_squared_error: 1.5610e-04 - val_loss: 0.0077 - val_mean_squared_error: 0.0018
Epoch 5/10
35040/35040 [==============================] - 168s 5ms/step - loss: 0.0040 - mean_squared_error: 1.5491e-04 - val_loss: 0.0077 - val_mean_squared_error: 0.0018
Epoch 6/10
27648/35040 [======================>.......] - ETA: 34s - loss: 0.0043 - mean_squared_error: 1.8961e-04

KeyboardInterrupt:

In [ ]:
yhat = model.predict(test_X)
print(yhat.shape)
print(yhat)

In [ ]:
test_y

In [ ]:
test_X2 = test_X.reshape((test_X.shape[0], 200))
n = test_X2.shape[1]

In [ ]:
inv_yhat = concatenate((test_X2[:, 0:],yhat), axis = 1)
print(inv_yhat.shape)
inv_yhat[:,n]

In [ ]:
test_y = test_y.reshape((len(test_y), 1))
y_actuals = concatenate((test_X2[:, 0:], test_y), axis = 1)

In [ ]:
y_actuals.shape
y_actuals[:, n]

In [ ]:
inv_yhat = scaler.inverse_transform(inv_yhat)
inv_yactuals = scaler.inverse_transform(y_actuals)

In [ ]:
print(inv_yhat.shape)
inv_yhat[:,n]

In [ ]:
print(inv_yactuals.shape)
inv_yactuals

In [ ]:
actuals = inv_yactuals[:,n]
predicted = inv_yhat[:,n]
results_df = DataFrame({'predicted':predicted,'actuals':actuals})
rmse = sqrt(mean_squared_error(results_df['actuals'], results_df['predicted']))
print('Test RMSE: %.3f' % rmse)

In [ ]:
pyplot.scatter(x = predicted, y = actuals, label='test')
pyplot.legend()
pyplot.show()

In [ ]:
model.evaluate()